apiVersion: v1
kind: Service
metadata:
  name: client
  namespace: lab3
spec:
  selector:
    app: client
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30081
  type: NodePort
